/*Body CSS*/
body
{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #1b2127;
  overflow: auto;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Fjalla One',serif;
  font-weight: normal;
  font-style: italic;
}

h1
{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: whitesmoke;
  margin: 0px 0px 0px 0px;
  text-shadow: 2px 2px 1px #1b2127;
}
h1 strong
{
  color: #006f8f;
  text-shadow: 2px 2px 1px #1b2127;
}
h2
{

  color: whitesmoke;
}
/*Header CSS*/
.header
{
  background-color: #006f8f;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
}
.menu
{
  height: inherit;
}
.header ol
{
  display: flex;
  height: 50px;
}
.header ol li
{
  height: 50px;
  display: flex;
  margin: 10px;
  margin-top: 0px;
}
.header a
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding: 0px 50px;
  color: whitesmoke;
  text-decoration: none;
  height: 80px;
  align-items: center;

}
.header img
{
  margin: -20px;
}
ol, ul
{
  margin: 5px;
  padding: 0px;
  list-style: none;
}
.header figure
{
  margin:20px;
  align-items: center;
}
/*Hero CSS*/
.hero
{
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  margin-top: 2px;
  overflow: hidden;
  padding: 2em;
}
.hero h1
{
  padding: 10px;
  opacity: 1;
  z-index: 2;
}
.hero-image
{
  margin-top: -10px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.3;
}
/*Portafolio CSS*/
.portfolio
{
  background: #1b2127;
  margin-top: -10px;
  padding: 20px;
}
.portfolio h2
{
  color: whitesmoke;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
/*Project CSS*/
.project
{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project strong
{
  font-family: 'Fjalla One',serif;
}
.project-details
{
  width: 50%;
}
.project-title
{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.project-course, .project-date, .project-url
{
  margin: 10px 0px;
}
.project-description
{
  font-size: 20px;
}
.project-imageContainer
{
  width: 50%;
}
.project-imageContainer img
{
  max-width: 100%;
}
/*Video CSS*/
.youtube-video
{
  margin-left: -40px;
  margin-bottom: 0px;
  margin-top: -40px;
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.video
{
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  flex-shrink: 0;
  background: #4b0076;
  overflow: hidden;
}
.video-detail
{
  margin: 20px 40px;
  margin-top: -60px;
  background-color: whitesmoke;
  position: relative;
  padding: 20px;
  text-align: center;
}
.video-description
{
  text-align: left;
}
.video h3
{
  font-size: 18px;
}
.video-url
{
  border: 1px solid ;
  padding: 5px 20px;
  text-decoration: none;
  color: #026fff;
  border-radius: 5px;
  font-weight: bold;
}
/*event CSS*/
.event-container-title
{
  margin-left: 20px;
  text-transform: uppercase;
}
.event-Container
{
 display: flex;
 flex-wrap: wrap;
}
.event
{
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  flex-shrink: 0;
  background: #006f8f;
  overflow: hidden;
}
.event img
{
  margin: -40px;
  margin-bottom: 0px;
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail
{
  margin: 20px 40px;
  margin-top: -60px;
  background-color: whitesmoke;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description
{
  text-align: left;
}
.event-url
{
  border: 1px solid ;
  padding: 5px 20px;
  text-decoration: none;
  color: #026fff;
  border-radius: 5px;
  font-weight: bold;
}
.event h3
{
  font-size: 18px;
}
/*Expirence CSS*/
.expirence-container-title
{
  margin-left: 20px;
  text-transform: uppercase;
}
.expirence-Container
{
 display: flex;
 flex-wrap: wrap;
}
.expirence
{
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  background: #057d01;
}
.expirence img
{
  margin: -40px;
  margin-bottom: 0px;
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.expirence-detail
{
  margin: 20px 40px;
  margin-top: -60px;
  background-color: whitesmoke;
  position: relative;
  padding: 20px;
  text-align: center;
}
.expirence-description
{
  text-align: left;
}
.expirence-url
{
  border: 1px solid ;
  padding: 5px 20px;
  text-decoration: none;
  color: #026fff;
  border-radius: 5px;
  font-weight: bold;
}
.expirence h3
{
  font-size: 18px;
}
/*Footer contact CSS*/
.contact
{
  background-color: #006f8f;
  color: whitesmoke;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-email h3
{
  margin-top: 0;
}
.form-email input
{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 5px 25px;
  background-image: url('https://i.imgur.com/KPACUBA.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x: 5px;
}
.form-email button
{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: whitesmoke;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}
.form-email h3
{
  font-family: 'Source Sans Pro', sans-serif;
}
.social-link
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size:  50px 50px;
}
.social-link.twitter
{
  background-image: url('https://i.imgur.com/v7EnElR.png');
}
.social-link.facebook
{
  background-image: url('https://i.imgur.com/Nq2GKJK.png');
}
.social-link.github
{
  background-image: url('https://i.imgur.com/4piBqMq.png');
}
.social-link.instagram
{
  background-image: url('https://i.imgur.com/q9Q9TMM.png');
}
.container
{
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.hamburger-menu{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#006f8f;
  display: none;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 10px;
  box-shadow: 1px 1px 2px #000;
  opacity: 1;
}
/*Desktop first Responsive Design*/
@media screen and (max-width: 1024px){
  .hero
  {
    height: auto;
    position: relative;
    margin-top: 5px;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image
  {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.3;
  }
  h1
  {
    font-size: 1.8em;
    z-index: 2;
  }

  .youtube-video
  {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: -40px;
    margin-bottom: 0px;
    margin-top: -16px;
    width: 480px;
    height: 200px;
    object-fit: cover;
  }
  .flexible-video
  {
    width: 100%;
    height: 100%;
    padding-top: 41%;
    background: darkblue;
    position: relative;
  }
}
@media screen and (max-width: 767px){
  .hamburger-menu{
    display: block;
  }
  .header
  {
    display: block;
    height: auto; 
    margin-top: -20px;
  }
  .header ol
  {
    display: initial;
  }
  .header img
  {
    margin: 0;
  }
  .header ol li
  {
    height: 50px;
    justify-content: center;
  }
  .header a
  {
    justify-content: center;
    height: 40px;
    width: 100vw;
    font-size: 2em;
    margin-bottom: .5em;
  }
  .header figure
  {
    margin-bottom: -15px;
  }
  .header .logo
  {
    text-align: center;
  }
  .menu{
    position: fixed;
    background-color: rgba(0, 111, 143,.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active{
    left: 0;
  }
  
  .hero
  {
    height: auto;
    position: relative;
  }
  .hero-image
  {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h1
  {
    font-size: 1.8em;
    z-index: 2;
  }
  .project
  {
    display: block;
  }
  .project-imageContainer
  {
    width: auto;
    text-align: center;
  }
  .project-details
  {
    width: auto;
  }
  .project-course, .project-date, .project-url
  {
    margin: .3em 0;
  }
  .project-title
  {
  font-size: 1.5em;
  margin-bottom: .3em;
  }
.project-url
  {
  font-size: 1em;
  }
.project-course
  {
  font-size: .7em;
  }
.project-date
  {
  font-size: 1em;
  }
.project-description
  {
  font-size: .8em;
  }
  .event
  {
    width: auto;
    flex-shrink: initial;
    overflow: hidden;
  }
  .event-imageContainer
  {
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
  }
  .event img 
  {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    object-fit: cover;
  }
  .event-detail
  {
    margin: -4em .8em .8em;
  }
  .expirence
  {
    width: auto;
    flex-shrink: initial;
    overflow: hidden;
  }
  .expirence-imageContainer
  {
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
  }
  .expirence img
  {
    width: 100%;
    margin: 0px;
    margin-top: -15px;
    margin-bottom: 0px;
    overflow: hidden;
    object-fit: cover;
  }
  .expirence-detail
  {
    margin: -4em .8em 8em;
  }
  .video
  {
    width: auto;
    flex-shrink: initial;
    overflow: hidden;
  }
  .video-imageContainer
  {
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
  }
  .youtube-video
  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: -0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-detail
  {
    margin: -4em .8em .8em;
  }
  .contact .form-email
  {
    padding-left: 12px;
  }
}
@media screen and (max-width: 480px){
  h1
  {
    font-size: 1.5em;
  }
  .certification-details
  {
    font-size: 12px;
  }
  .contact
  {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
  }
  .contact button
  {
    margin: 1em auto;
  }
}
@media screen and (max-width: 320px){
  .header a{
    width: 100vw;
    font-size: 26px;
    text-align: center;
    margin-bottom: 5px;
  }
  .header li
  {
    margin: 10px;
  }
  .certification-details
  {
    font-size: 12px;
  }
}