/*Body CSS*/
body
{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #1b2127;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Fjalla One',serif;
  font-weight: normal;
  font-style: italic;
}

h1
{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: whitesmoke;
  margin: 0px 0px 0px 0px;
}
h1 strong
{
  color: #006f8f ;
}
h2
{

  color: whitesmoke;
}
/*Header CSS*/
.header
{
  background-color: #006f8f;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu
{
  height: inherit;
}
.header ol
{
  display: flex;
  height: 50px;
}
.header ol li
{
  height: 50px;
  display: flex;
  margin: 10px;
  margin-top: 0px;
}
.header a
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding: 0px 50px;
  color: whitesmoke;
  text-decoration: none;
  height: 50px;
  align-items: center;

}
ol, ul
{
  margin: 5px;
  padding: 0px;
  list-style: none;
}
figure
{
  margin:20px;
  align-items: center;
}
/*Hero CSS*/
.hero
{
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero h1
{
  padding: 10px;
}
.hero-image
{
  margin-top: -10px;
  border-radius: 20px;
  object-fit: cover;
}
/*Portafolio CSS*/
.portfolio
{
  background: #1b2127;
  margin: -10px;
  padding: 20px;
}
.portfolio h2
{
  color: whitesmoke;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
/*Project CSS*/
.project
{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project strong
{
  font-family: 'Fjalla One',serif;
}
.project-details
{
  width: 500px;
}
.project-title
{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.project-course, .project-date, .project-url
{
  margin: 10px 0px;
}
.project-description
{
  font-size: 20px;
}
.project-imageContainer
{
  width: 500px;
}
/*event CSS*/
.event-container-title
{
  margin-left: 20px;
  text-transform: uppercase;
}
.event-Container
{
 display: flex;
 flex-wrap: wrap;
}
.event
{
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  background: #006f8f;
}
.event img
{
  margin: -20px;
  margin-bottom: 0px;
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail
{
  margin: 20px 40px;
  margin-top: -60px;
  background-color: whitesmoke;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description
{
  text-align: left;
}
.event-url
{
  border: 1px solid ;
  padding: 5px 20px;
  text-decoration: none;
  color: #026fff;
  border-radius: 5px;
  font-weight: bold;
}
.event h3
{
  font-size: 18px;
}
/*Footer contact CSS*/
.contact
{
  background-color: #006f8f;
  color: whitesmoke;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-email input
{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 5px 25px;
  background-image: url('https://i.imgur.com/KPACUBA.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x: 5px;
}
.form-email button
{
  display: block;
  margin-top: 10px;
  background: transparent;
  color: whitesmoke;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}
.form-email h3
{
  font-family: 'Source Sans Pro', sans-serif;
}
.social-link
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size:  50px 50px;
}
.social-link.twitter
{
  background-image: url('https://i.imgur.com/v7EnElR.png');
}
.social-link.facebook
{
  background-image: url('https://i.imgur.com/Nq2GKJK.png');
}
.social-link.github
{
  background-image: url('https://i.imgur.com/4piBqMq.png');
}
.social-link.instagram
{
  background-image: url('https://i.imgur.com/q9Q9TMM.png');
}
.container
{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}